body{ 
background-image: url("kusama_fireflies.jpg");
}

.hey{
    color: darkorange;
    zoom: 2
}

img#Me {
    zoom: 30%; 
    border-radius: 100px;
}

p{
    color: skyblue;
    font-size: 40px;
     border-radius: 25px;
}